@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coming Soon';
    src: url('fonts/ComingSoon-Regular.woff2') format('woff2'),
        url('fonts/ComingSoon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
    --contentBackground:#f4eeff; 
    --headerBackground:#424874;
    --thirdColor: #dcd6f7; 
    --fourthColor:#a6b1e1;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Coming Soon',sans-serif,system-ui;

}

html{
    height: 100vh;
    width: 100%; 
}


body{
    height: 100%;
    width:100%;
    display: grid;
    grid-template: 1fr 5fr/ 1fr ; 
    gap: 2px;
}

body>*{
    box-shadow: 1px 1px 4px currentColor;
}

button:hover{
    opacity: 0.7;
}
button:active{
    transform: translateY(2px);
}



button{
    border: none;
    border-radius: 50px;  
    width: 200px; 
    height: 45px ; 
    margin: 0px 5px;  
    cursor: pointer;
    color: white;
    background-color: var(--headerBackground);
    font-weight: 900;   
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px ;
    margin: 20px; 
}



h2{
    font-size: 2rem;
    font-weight: 900;  
}
p{
    margin: 10px;
    font-size: 1.3rem; 

}
label{
    font-weight: 900;
}



.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
     color: white;
    background-color:var(--headerBackground); 
    padding: 20px;
    font-size: 3rem;  
}

.header h1 {
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3; 
}

.sidebar{
    padding: 20px;
    grid-area: 2/1/3/2;
    background-color:var(--fourthColor);
    display: grid;
}

.game{
    background-color: var(--contentBackground);
     display: grid;
     justify-items: center;
     align-items: center;

}

#instructions{
    width: 74%;
}

#instructions span:nth-child(3),#player1 {
    color: red;
    font-weight: 900;
}

#instructions span:nth-child(5),#player2 {
    color: blue;
    font-weight: 900;
}

.score-container{
    display: grid;
    grid-template: 1fr/ 2fr 1fr;

}


#scores{
    justify-self: center;
    
}

#scores h2{
    font-size: 3rem; 
    color: rebeccapurple;
    font-weight: 900;
    margin-bottom: 50px;
}

#scores p:nth-child(2){
    color:red;
    font-weight: 900;
    font-size: 2rem;
    
}

#scores p:nth-child(4){
    color: blue;
    font-weight: 900;
    font-size: 2rem;
    
}

#scores p:nth-child(3),#scores p:nth-child(5){
    text-align: center;
    font-size: 2rem;
    color:#424874;
}


.board-container{

    width: 600px ;
    height: 600px; 
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    align-items: center;
    justify-content: center;
    margin:20px;
    justify-self: center;


}
.board-tile{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 200px;           
    border: 1px solid black;
    font-size: 150px;  
} 

.board-tile:hover{
    color: rgb(0, 0, 0,0.5);
    cursor: pointer;
}


.board-tile:active{
    color: rgb(0, 0, 0,0.9);
}



.board-tile:nth-child(1), .board-tile:nth-child(2) ,.board-tile:nth-child(3) {
    border-top: none;
}

.board-tile:nth-child(1), .board-tile:nth-child(4) ,.board-tile:nth-child(7) {
    border-left: none;
}

.board-tile:nth-child(3), .board-tile:nth-child(6) ,.board-tile:nth-child(9) {
    border-right: none;
}

.board-tile:nth-child(7), .board-tile:nth-child(8) ,.board-tile:nth-child(9) {
    border-bottom: none;
}

dialog[open]{
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 30px; 
    background-color: var(--fourthColor);
    border: 3px solid var(--headerBackground); 
    border-radius: 25px;
    justify-content: center;
    justify-items: center;
}

#start-dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
}

dialog > button{
    background-color: var(--headerBackground);
 
    justify-self: center;
}

input{
    margin: 10px;
    width: 100% ;
    height: 2rem;
    background-color: white;
    border-radius: 15px; 
    border: solid 1px black;
    justify-self: end;
    padding: 8px;
    margin-left: 10px;
    font-size: 1.2rem;
}

input:focus{
    outline: none;
    border: 3px solid green;
}

